absl-py==2.3.1
accelerate==1.11.0
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
-e git+https://github.com/EvolvingLMMs-Lab/LLaVA-OneVision-1.5.git@0607da9108a77f00702d0d2dcf3c5b8a720c126d#egg=AIAK_Training_LLM
aiobotocore==2.25.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools==0.12.0
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.12.0
altair==5.5.0
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
asgiref==3.5.0
astor==0.8.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==25.4.0
audioread==3.1.0
av==16.0.1
Babel==2.8.0
banks==2.2.0
bcrypt==3.2.0
beautifulsoup4==4.14.2
beniget==0.4.1
black==25.9.0
blake3==1.0.8
bleach==6.3.0
blinker==1.9.0
bloom==0.13.0
bond==4.1.2
botocore==1.40.49
braceexpand==0.1.7
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.2
cachetools==6.2.1
cartographer-ros-msgs==2.0.9002
catkin-pkg==1.1.0
catkin-pkg-modules==1.1.0
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==3.1.2
cmake==4.1.2
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
command-not-found==0.3
composition-interfaces==1.2.2
compressed-tensors==0.11.0
configobj==5.0.6
control-msgs==4.8.0
controller-manager==2.52.0
controller-manager-msgs==2.52.0
cov-core==1.15.0
coverage==6.2
cryptography==46.0.3
cupshelpers==1.0
cupy-cuda12x==13.6.0
cv-bridge==3.2.1
cycler==0.11.0
dataclasses-json==0.6.7
datasets==2.19.2
dbus-python==1.2.18
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.5
Deprecated==1.2.18
depyf==0.19.0
diagnostic-msgs==4.9.0
diagnostic-updater==4.0.6
dill==0.4.0
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
distro-info==1.1+ubuntu0.2
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
duplicity==0.8.21
dwb-msgs==1.1.18
dynamixel-sdk==3.8.4
ecdsa==0.19.1
einops==0.8.1
email-validator==2.1.0
empy==3.3.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
exceptiongroup==1.3.0
fastapi==0.104.1
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.21.2
fastrlock==0.8.3
fastuuid==0.14.0
filelock==3.20.0
filetype==1.2.0
flake8==4.0.1
flashtensors @ git+https://github.com/leoheuler/flashtensors.git@4d086e0b1752f291692e8fc00e0a8cbd9ec60d42
fonttools==4.29.1
frozendict==2.4.7
frozenlist==1.8.0
fs==2.4.12
fsspec==2025.10.0
ftfy==6.1.3
future==0.18.2
gast==0.5.2
gazebo-map-creator-interface==3.5.3
gazebo-msgs==3.9.0
generate-parameter-library-py==0.5.0
geographic-msgs==1.0.6
geometry-msgs==4.9.0
gguf==0.17.1
git-filter-repo==2.47.0
gitdb==4.0.12
gitignore_parser==0.1.13
GitPython==3.1.45
gpg==1.16.0
gps-msgs==2.1.1
GPUtil==1.4.0
greenlet==3.2.4
griffe==1.15.0
grpcio==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
hf-xet==1.2.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
hydra-core==1.3.2
identify==2.6.15
idna==3.11
image-geometry==3.2.1
imbalanced-learn==0.14.0
imblearn==0.0
importlib_metadata==8.7.0
iniconfig==1.1.1
intel-cmplr-lib-ur==2025.3.1
intel-openmp==2025.3.1
interactive-markers==2.3.2
interegular==0.3.3
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
keyring==23.5.0
kiwisolver==1.3.2
langchain==0.0.340
langsmith==0.0.92
language-selector==0.1
lark==1.2.2
laser-geometry==2.4.0
launch==1.0.10
launch-ros==0.19.12
launch-testing==1.0.10
launch-testing-ros==0.19.12
launch-xml==1.0.10
launch-yaml==1.0.10
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
leann==0.3.5
leann-backend-diskann==0.3.5
leann-backend-hnsw==0.3.5
leann-core==0.3.5
librosa==0.11.0
lifecycle-msgs==1.2.2
litellm==1.80.5
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.8
llama-index-cli==0.5.3
llama-index-core==0.14.8
llama-index-embeddings-huggingface==0.6.1
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-openai==0.6.9
llama-index-readers-file==0.5.5
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.11.5
llama-parse==0.6.54
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.11.3
lockfile==0.12.2
logging-demo==0.20.5
loguru==0.7.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
megatron-energon==5.0.0
memorisdk==2.3.3
mercurial==6.1.1
message-filters==4.3.8
mistral_common==1.8.5
mistune==3.1.4
mkl==2025.3.0
monotonic==1.6
more-itertools==8.10.0
moveit-msgs==2.2.1
mpi4py==3.1.3
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.16
mypy_extensions==1.1.0
mysql-connector-python==9.5.0
narwhals==2.12.0
nav-2d-msgs==1.1.18
nav-msgs==4.9.0
nav2-common==1.1.18
nav2-msgs==1.1.18
nav2-simple-commander==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.1
nodeenv==1.9.1
nose2==0.9.2
notify2==0.3
numba==0.61.2
numpy==1.26.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
nvidia-riva-client @ file:///home/leo/python-clients/dist/nvidia_riva_client-2.22.0-py3-none-any.whl#sha256=52b6a1d8b68b4d6c893cfda593fe90c3c46386279137f9ca5038683db3554a97
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
olefile==0.46
omegaconf==2.3.0
onemkl-license==2025.3.0
openai==2.8.1
openai-harmony==0.0.8
opencv-python-headless==4.12.0.88
orjson==3.11.4
osrf-pycommon==2.1.6
outlines_core==0.2.11
packaging==25.0
pandarallel==1.6.5
pandas==2.2.3
pandocfilters==1.5.1
paramiko==2.9.3
partial-json-parser==0.2.1.1.post6
passlib==1.7.4
pathspec==0.12.1
patiencediff==0.2.1
pcl-msgs==1.0.0
pdfminer.six==20251107
pdfplumber==0.11.8
peft==0.8.2
pendulum-msgs==0.20.5
pexpect==4.8.0
pgvector==0.2.3
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
ply==3.11
pooch==1.8.2
pre-commit==3.2.2
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
prompt-toolkit==3.0.43
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.3
psycopg2==2.9.11
psycopg2-binary==2.9.9
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pybase64==1.4.2
pybind11==3.0.1
pycairo==1.20.1
pycodestyle==2.8.0
pycountry==24.6.1
pycparser==2.23
pycups==2.0.1
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic-settings==2.1.0
pydantic_core==2.41.5
pydeck==0.9.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.19.2
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pymacaroons==0.13.0
PyMuPDF==1.26.6
PyNaCl==1.5.0
pyparsing==2.4.7
pypdf==6.4.0
PyPDF2==3.0.1
pypdfium2==5.1.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
pyRFC3339==1.1
pytest==8.4.2
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gitlab==2.10.1
python-jose==3.3.0
python-json-logger==4.0.0
python-multipart==0.0.6
python-qt-binding==1.1.2
pythran==0.10.0
pytokens==0.2.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
qwen-vl-utils==0.0.14
ray==2.51.1
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.7
referencing==0.37.0
regex==2025.11.3
reportlab==3.6.8
requests==2.31.0
requests-toolbelt==0.9.1
resource-retriever==3.1.3
rich==14.0.0
rich-toolkit==0.15.1
rignore==0.7.6
rmw-dds-common==1.6.0
robot-localization==3.5.4
roman==3.3
ros-gz-interfaces==0.244.20
ros2action==0.18.14
ros2bag==0.15.15
ros2cli==0.18.14
ros2component==0.18.14
ros2controlcli==2.52.0
ros2doctor==0.18.14
ros2interface==0.18.14
ros2launch==0.19.12
ros2lifecycle==0.18.14
ros2multicast==0.18.14
ros2node==0.18.14
ros2param==0.18.14
ros2pkg==0.18.14
ros2run==0.18.14
ros2service==0.18.14
ros2topic==0.18.14
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro==1.0.1
rosdistro-modules==1.0.1
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rospkg-modules==1.6.0
rpds-py==0.28.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-robot-steering==1.0.3
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9.1
s3fs==2024.3.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
script==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.44.0
setproctitle==1.3.7
shape-msgs==4.9.0
shellingham==1.5.4
six==1.16.0
slam-toolbox==2.6.10
smclib==4.1.2
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soundfile==0.13.1
soupsieve==2.3.1
soxr==1.0.0
speedtest-cli==2.1.3
SQLAlchemy==2.0.23
squaternion==2025.3.2
srdfdom==2.0.7
sros2==0.10.7
starlette==0.27.0
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
streamlit==1.51.0
streamlit-autorefresh==1.0.1
striprtf==0.0.26
supervisor==4.3.0
sympy==1.14.0
systemd-python==234
tbb==2022.3.0
tcmlib==1.4.1
teleop-twist-keyboard==2.4.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
theora-image-transport==2.5.4
threadpoolctl==3.6.0
tiktoken==0.12.0
timm==1.0.3
tinycss2==1.4.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.3.0
topic-monitor==0.20.5
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
transformers==4.45.2
transforms3d==0.3.1
triton==3.4.0
turtlebot3-applications-msgs==1.0.1
turtlebot3-aruco-tracker==1.3.3
turtlebot3-automatic-parking==1.3.3
turtlebot3-automatic-parking-vision==1.3.3
turtlebot3-autorace-camera==1.2.2
turtlebot3-autorace-detect==1.2.2
turtlebot3-autorace-mission==1.2.2
turtlebot3-example==2.3.3
turtlebot3-home-service-challenge-aruco==1.0.5
turtlebot3-home-service-challenge-core==1.0.5
turtlebot3-msgs==2.4.0
turtlebot3-teleop==2.3.3
turtlebot3-yolo-object-detection==1.3.3
turtlesim==1.4.2
typeguard==2.2.2
typer==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.11.0
umf==1.0.2
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.5.0
usb-creator==0.3.7
uvicorn==0.24.0
uvloop==0.22.1
vcstool==0.3.0
vcstools==0.1.42
virtualenv==20.35.3
vision-msgs==4.1.1
visualization-msgs==4.9.0
vllm==0.10.2
vtk==9.5.2
wadllib==1.3.6
wandb==0.21.0
watchdog==6.0.0
watchfiles==1.1.1
watchgod==0.8.2
wcwidth==0.2.14
webdataset==1.0.2
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.0.0
xacro==2.1.1
xdg==5
xformers==0.0.32.post1
xgrammar==0.1.23
xkit==0.0.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
